 body{
 	font-size: 20px
 }
 p {
	font-size: 30px
}

div{
	width: 200px;
	height: 200px;
	background: green;


  }

.contenedor_padre {
	font-size: 25px
}
.hijo {
	width: 10em;
	height: 10em
	background: blue;
	color: red;
}